.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper p {
  margin-bottom: 1.75rem;
}

.pictureSection {
  margin: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper img {
  max-height: 18rem;
  max-width: 18rem;
  margin: 1rem;
}

.pictureSection input {
  margin: 0 1rem;
  width: -webkit-fill-available;
}

.column {
  width: 100%;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin: 2rem 0 1rem 0;
}

.newPictureButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newPictureButtons button {
  margin-top: 1rem;
}

@media (min-width: 950px) {
  .wrapper {
    flex-direction: row;
  }

  .wrapper img {
    max-height: 30rem;
    max-width: 30rem;
  }

  .column {
    margin: 0 1rem 0 2rem;
    width: 60%;
  }

  .newPictureButtons {
    flex-direction: row;
  }
}
